/* GENERAL */

body, h1, h2, h3, h4, h5, p {
	font-size: 18px;
	line-height: 30px;
	font-family: 'TitilliumWeb';
	color: #1a1a1a;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5{
	font-family: 'Milio',Arial,Helvetica,sans-serif;
  	font-size: 30px;
  	line-height: 28px;
  	font-weight: 900;
  	color: #1a1a1a;
	font-style: italic;
}

figure{
	margin: 0px;
	padding: 0px;
	line-height: 0px;
}


a {
	font-weight: 700;
	color: #2aa6dc;
}

a:hover{
	opacity: .6;
}


/* UTILITY */

.relative-center-max {
	height: auto;
	margin: 0 auto;
	max-width: 1338px;
	position: relative;
	width: 100%;
	overflow: hidden;
	margin-bottom: 70px;
}

.relative-center{
	margin: 0 auto;
	position: relative;
}

.center-absolute{
	position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.absolute {
	position: absolute;
	top: 0;
	left: 0;
}

.text-center{
	text-align: center;
}

.width-priority{
	width: 100%;
	height: auto;
}

.box-shadow{
	-webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.1);;
	-moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.1);;
	box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.1);;
}

.button-blue{
	color: white;
	text-transform: uppercase;
	text-align: center;
	margin-top: 40px;
	padding: 6px 0;
	max-width: 300px;
	text-decoration: none;
	font-weight: 400;
	background-color: #2aa6dc;
	-webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.13);
	-moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.13);
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.13);
}

.button-blue:hover{
	-webkit-box-shadow:  box-shadow: 5px 10px 20px rgba(0,0,0,0.26), 0 13px 12px rgba(0,0,0,0.12);
	-moz-box-shadow: 5px 10px 20px rgba(0,0,0,0.26), 0 13px 12px rgba(0,0,0,0.12);
	box-shadow: 5px 10px 20px rgba(0,0,0,0.26), 0 13px 12px rgba(0,0,0,0.12);
}

.featured{
	text-transform: uppercase;
	font-weight: 900;
}

.visible{
	overflow: visible;
}

.overlay-black{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: .2;
}

.smarty-1172214 { 
	position: relative; 
	margin: 0 auto;
	padding-bottom: 56.25%; 
	padding-top: 30px; 
	height: 0; 
	overflow: 
	hidden; 
	width: 100%;
	max-width: 1270px;
	height: auto; 
}

.smarty-1172214 iframe, .smarty-1172214 object, .smarty-1172214 embed {
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}


/*/ WRAPPER /*/

body{
	background-color: #f2f2f2;
}

.wrapper{
	max-width: 1338px;
}

.wrapper-card{
	width: 100%;
	max-width: 1270px;
}

.wrapper-text{
	width: 100%;
	max-width: 770px;
}

/*/ HEADER /*/

.text-center{
	text-align: center;
}

.title-header{
	top: 55%;
  	left: 0;
  	right: 0;
  	max-width: 905px;
  	margin: 0 auto;
}

.title-top{
	font-size: 80px;
	line-height: 80px;
	max-width: 500px;
	margin: 0 auto;
	color: white;
	background-color: black;
}

.title-bottom{
	font-size: 150px;
	line-height: 150px;
	text-transform: uppercase;
	color: white;
	background-color: black;
	margin-top: 15px;
	border-bottom: 7px solid #ffc107;
}

.arrow{
	position: absolute;
	bottom: -30px;
	left: 50%;
	margin-left: -30px;
	border-radius: 30px;
	height: 59px;
  	width: 59px;
}

.mobile{
	display: none;
}

/*/ CARD TEXT /*/

.card-text{
	background-color: white;
}

.wrapper-text{
	padding: 70px 25px;
}

.author-card{
	color: #ababab;
	padding: 10px 0;
	margin-bottom: 50px;
	border-bottom: 1px solid #ebebeb;
}

.img-card-bottom{
	padding: 0px;
	margin: 0px;
}

.without-author{
	padding-bottom: 10px;
	margin-bottom: 50px;
	border-bottom: 1px solid #ebebeb;
}

/*/ CARDS /*/

.cards3{
	width: 29%;
	display: inline-block;
	margin: 0px 10px;
	text-align: left;
	background-color: white;
	vertical-align: top;
	margin-bottom: 25px;
	min-height: 794px;
}

.cards3 figure img{
	margin-bottom: 15px;
}

.cards-text-wrapper{
	width: auto;
	height: auto;
	padding: 35px 25px;
}

.cards-title{
	padding-bottom: 10px;
	margin-bottom: 25px;
	border-bottom: 1px solid #1a1a1a;
}

.aditional-row{
	margin-top: -50px;
}

/*/ REPO /*/

.repo-title{
	text-align: center;
	margin: 0 auto;
	font-size: 40px;
	color: white;
	position: absolute;
	top: 48%;
	right: 0;
	left: 0;
}

.repo-header{
	line-height: 0px;
}

/*/ REPO-CARDS /*/

.repo3{
	width: 29%;
	display: inline-block;
	margin: 0px 10px;
	text-align: left;
	background-color: white;
	vertical-align: top;
	margin-bottom: 25px;
	min-height: 765px;
}

.repo-article-title{
	padding: 10px 0;
	background-color: #2aa6dc;
	color: white;
	font-size: 20px;
	margin-top: -10px;
}

/*/ EXTERNAL ARTICLE /*/

.author-img{
	top: -80px;
	margin-top: 140px;
	margin-bottom: -20px;

	border-radius: 83px; 
	-webkit-border-radius: 83px; 
	-moz-border-radius: 83px;
}

.author-img img{
	border-radius: 83px;
}

.author-text{
	padding-top: 0;
}

@media screen and (max-width: 1024px){
	
	.title-header{
		top: 45%;
	}

	.wrapper-card{
		width: 97%;
	}

	.cards3{
		width: 30%;
		min-height: 921px;
	}

}

@media screen and (max-width: 930px){
	
	.cards3, .repo3{
		display: block;
		width: 97%;
		min-height: 5px;
		height: auto;
	}

	.title-top{
		font-size: 45px;
		line-height: 45px;
	}

	.title-bottom{
		font-size: 90px;
		line-height: 90px;
	}

	.title-header{
		max-width: 604px;
	}
}

@media screen and (max-width: 650px){

	body{
		font-size: 18px;
	}

	.mobile{
		display: block;
	}

	.desktop{
		display: none;
	}

	.arrow{
		height: 45px;
		width: 45px;
		bottom: -23px;
	}

	.arrow img{
		height: 45px;
		width: 45px;
	}
	
	.header-container{
		max-height: 520px;
	}

	.header-container img{
		height: 100%;
		width: auto;
	}

	.title-top{
		font-size: 30px;
		line-height: 30px;
	}

	.title-bottom{
		font-size: 50px;
		line-height: 50px;
		margin-top: 0px;
	}

	.title-header{
		max-width: 400px;
		top: 12%;
	}

	.card-text{
		width: 95%;
	}

	.cards3, .repo3{
		width: 95%;
	}

	.wrapper-text{
		width: 85%;
	}

	.repo{
		width: 100%;
  		overflow: hidden;
	}

	.repo-header img{
		width: auto;
		height: 100%;
	}

	.repo-title{
		line-height: 45px;
		top: 31%;
		padding: 0 5px;
	}
}

@viewport {
    zoom: 1.0;
    width: device-width;
}